<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{this.dashCountList?.[0].Date}}</h3>
                        <p>Count :{{this.dashCountList?.[0].Count}} <br>
                        <p>Net Wt:{{this.dashCountList?.[0].NetWt}} MT</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <!-- <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a> -->
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{this.dashCountList?.[1]?.Date}}</h3>
                        <p>Count :{{this.dashCountList?.[1]?.Count}} <br>
                        <p>Net Wt :{{this.dashCountList?.[1]?.NetWt}} MT</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <!-- <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a> -->
                </div>
            </div>
            <!-- ./col -->
          
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- Main row -->
    <!-- <div id="mapD" style="width: 100%; height: 400px"></div> -->
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Monthly Data</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                              <select type="text" name="table_search" class="form-control float-right" (change)="GetDataByYear($event.target.value)">
                                <option *ngFor="let yr of yearList;let i = index; let last =last" [selected]="last"  [value]="yr">{{yr}}</option>
                              </select>
                              <!-- <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                  <i class="fas fa-search"></i>
                                </button>
                              </div> -->
                            </div>
                          </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" >
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <!-- <th style="width: 10px">#</th> -->
                                    <th>Month</th>
                                    <th>Count</th>
                                    <th>Net Wt (MT)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dashMothlyList">
                                    <!-- <td>{{i + 1}}</td> -->
                                    <td>{{item.Date}}</td>
                                    <td>
                                        <span class="badge bg-warning"> {{item.Count}}</span>                                       
                                    </td>
                                    <td>
                                        <span class="badge bg-primary"> {{item.NetWt}}</span>
                                    </td>
                                </tr>                              
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    
                </div>
                <!-- /.card -->

               
                <!-- /.card -->
            </div>

        </div>

    </div>
</section>
<!-- /.content -->